.challengeRoom(
  ng-if="$root.at.type == 'challengeRoom'"
  ng-controller="ChallengeRoomController"
)
  h1 Best try: {{ user.challengeCompleted[$root.at.key].points }} Points
  button(ng-click="check($root.at)") Texto