.challengeRoom(
  ng-if="at.type == 'challengeRoom'"
  ng-controller="ChallengeRoomController"
)
  h1 Best try: {{ user.challengeCompleted[at.key].points }} Points
  button(ng-click="check(at)") Texto