md-content {
  height: 500px;
}

.app {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #34495E;

  md-sidenav {
    background: #34495E;

    h4 {
      color: white;
      padding-left: 10px;
    }

    .map-section {
      color: white;
      margin-left: 10px;
      border-left: 1px solid rgba(255,255,255,0.25);

      p {
        margin: 0;
        padding: 5px 5px;
        font-size: 12px;

        &:hover{
          background-color: rgba(255,255,255,0.25);
          cursor: pointer;
        }

        b {
          margin-right: 5px;
          opacity: 0.5;
        }
      }
    }
  }

  button.md-button {
    background-color: #34495E;
  }

  .md-select {
    background-color: white;
  }

  .wrapper {
    padding: 10px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
  }

  span {
    font-weight: bold;
    font-size: 18px;
    font-family: "Arial Black";
    margin: 0;
    padding: 0;
    
    &.top-level {
      color: #E77E22;      
    }

    &.user-status {
      color: #51D88B;      
    }
    
    &.room-status {
      color: #F0C40D;      
    }
  }

  .mid-nav {
    position: absolute;
    padding: 30px;
    top: 280px;
    bottom: 50px;
    width: 100%;

    button {
      height: 100px;
      width: 100px;

      p.title {
        font-size: 35px;
        line-height: 0px;
        height: 13px;
      }
    }

    p {
      margin: 0;
    }
  }

  .lo-content {
    position: absolute;
    padding: 30px;
    top: 85px;
    bottom: 50px;
    box-sizing: border-box;
    left: 200px;
    right: 200px;

    h3 {
      color: #F0C40D;  
      font-weight: bold;
    }

    .wrapper {

      padding-left: 0;

      .data-title{
        width: 100px;
        color: white;
      }

      .data-content{
        color: white;
      }
    }
  }

  .ct-content {
    position: absolute;
    padding: 30px;
    top: 85px;
    bottom: 50px;
    box-sizing: border-box;
    left: 200px;
    right: 200px;

    h3 {
      color: #F0C40D;  
      font-weight: bold;
    }

    .data-content{
      padding-left: 0;
      color: white;
    }
  }

  .bottom-nav {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
  }
}